* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Homemade Apple', cursive;
}


header {
    background-color: #f4c4bc;
    color: white;
}

.nav-link {
    color: white;
}

.nav-link active {
    color: white;
}


.navegacion {
    text-align: center;
    text-transform: uppercase;
}


nav li a {
    text-decoration: none;
    margin-left: 30px;
}

.navbar-brand img {
    width: 50px;
}

/* SECCION INFORMACION */
.informacion {
    background-color:#e4b4a6 ;
}

.informacion p {
    color: white;
    text-align: center;
    padding: 5px;
}

/* SECCION ENCABEZADO */
.encabezado img {
    width: 100%;
}

.botonTienda {
    text-align: center;
}

.botonTienda  {
    margin: 30px;
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 10em;
    border-radius: 1rem;
    color:#e4b4a6;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer;
}
.botonTienda :active {
    color: white;
    box-shadow: 1px #dfd9d9;
}

.botonTienda:hover {
    background: #f4c4bc;
    color: white;
}

/* SECCION INFORMACION SOBRE PASTELERIA */
.infoPasteleria {
    text-align: center;
    background-color: #ebdad79f;
    margin-bottom: 30px;
}

.infoPasteleria p {
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

.infoPasteleria img {
    margin-top: 30px;
    width: 10%;

}

@keyframes texto {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}


.infoPasteleria h2 {
    color: #f4c4bc;
    font-size: 30px;
    animation-name: texto;
    animation-duration: 5s;
}

.infoPasteleria p {
    margin-top: 30px;
    color:black;
    padding-left: 100px;
    padding-right: 100px;
}


/* SECCION IMAGENES*/
.imagenesOpciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 60px;
}

.imagenesOpciones img {
    width: 300px;
}

.imgBrownie {
    transition: height 0.5s, width 0.5s;
}
.imgBrownie:hover {
    width: 350px;
}

.imgTabletas {
    transition: height 0.5s, width 0.5s;
}
.imgTabletas:hover {
    width: 350px;
}

.imgAlfajor {
    transition: height 0.5s, width 0.5s;
}
.imgAlfajor:hover {
    width: 350px;
}



/* BOTON WHATSAPP */
.botonWhatsApp img {
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

/* FOOTER */

footer {
    background-color: #f4c4bc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

}


.redesSociales ul li {
    top: 7px;
    display: inline;
    color: white;
    word-spacing: 5px; 
    margin-left: 30px;
    }


.gato img {
    width: 100px;
    margin: 20px;
}

footer p {
    color: white;
}

/* -----------------------------------------------*/
/* SECCION PASTELERIA */
.pasteleria {
    background-color: #ebdad79f;
    text-align: center;
}

.pasteleria img {
    margin-top: 10px;
    width: 150px;
}

.pasteleria h2{
    color: #f4c4bc;
    font-size: xx-large;
    margin-top: 10px;
    margin-bottom: 20px;
    animation-name: texto;
    animation-duration: 2s;
}

.pasteleria p {
    padding-bottom: 20px;
}


/* TIENDA */

.card {
    margin: 40px;
    border: white;
}

.card-text {
    font-weight: bold;
}

.carrito {
    background-color: #f4c4bc;
    border-color: #e4b4a6;

    
}

/* -----------------------------------------------*/
/* SECCION SOBRE MI */
.sobreMi {
    grid-area: sobremi;
    text-align: center;
    background-color: #ebdad79f;
    height: 200px;
}

.sobreMi img {
    margin-top: 20px;
    width: 100px;

}

.sobreMi h2 {
    animation-name: texto;
    animation-duration: 2s;
    color: #f4c4bc;
    margin: 10px;
    font-size: xx-large
}

/* TEXTO */
.textoSobreMi {
    text-align: center;
    grid-area: texto;
}

.textoSobreMi h2 {
    font-size: 50px;
    text-transform: uppercase;
    margin: 30px;
    color: #f4c7cb;
}

.textoSobreMi p{
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 30px;
}

/* FOTOS */
.fotosNagisa{
    grid-area: fotos;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.fotosNagisa img {
    width: 40%;
    margin: 10px;
    animation: height 0.10s, width 0.10s;
}

.fotosNagisa img:hover {
    width: 50%;
}

/* GRID SOBRE MI*/
.gridSobreMi {
    display: grid;
    grid-template-areas: 
    "header header"
    "sobremi sobremi"
    "fotos texto"
    "footer footer";

}

/* VISTA TABLET SOBRE MI*/
@media (min-width:700px) and (max-width:1100px) {
    .gridSobreMi {
        display: grid;
        grid-template-areas: 
        "header"
        "sobremi"
        "texto"
        "fotos"
        "footer"
        ;
    }

    .sobreMi {
        height: 180px;
    }
    
    .sobreMi img {
        width: 100px;
    
    }
    
    .sobreMi h2 {
        font-size:x-large
    }
    .textoSobreMi p{
        padding-left: 100px;
        padding-right: 100px;
    }

    .fotosNagisa img {
        margin: 10px;
        margin-bottom: 30px;
        }
}

/*VISTA MOBILE SOBRE MI*/
@media (max-width:699px){
    .gridSobreMi {
        display: grid;
        grid-template-areas: 
        "header"
        "sobremi"
        "texto"
        "fotos"
        "footer"
        ;
    }

    .sobreMi {
        height: 150px;
    }
    
    .sobreMi img {
        width: 80px;
    
    }
    
    .sobreMi h2 {
        font-size:larger
    }

    .textoSobreMi h2 {
        font-size: 30px;
        margin: 20px;
    }
    
    .textoSobreMi p{
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 30px;
    }

    
    .fotosNagisa img {
    margin: 5px;
    margin-bottom: 30px;
    }
}


/* -----------------------------------------------*/
/* SECCION CONTACTO */
.contacto {
    grid-area: contacto;
    background-color: #ebdad79f;
    text-align: center;
    width: 100%;
    height: 200px;
}

.contacto img {
    width: 70px;
    margin-top: 10px;
}

.contacto h2 {
    color: #f4c4bc;
    font-size: xx-large;
    margin-bottom: 20px;
    animation-name: texto;
    animation-duration: 2s;
}

/* FORMULARIO */

.seccionFormulario{
    grid-area: formulario;
    justify-self: stretch;
    align-self: stretch;
}
.consultas h2 {
    color: #f4c4bc;
}

.formulario {
    margin: 50px;
    background-image: url(../imagen/fondo.png);
}

.formulario input {
    margin-bottom: 30px;
}

.formulario label {
    margin-top: 10px;
    margin-bottom: 5px;
    color: black;

}

.seccionFormulario {
    text-align: center;
}

/* HORARIO */
.horarios {
    text-align: center;
    grid-area: horarios;
    justify-self: center;
}

.horarios h3 {
    color: #f4c4bc;
}

.horarios p{
    margin: 10px;
    font-size: small;
}

/* DATOS */
.datos {
    text-align: center;
    grid-area: datos;
}

.datos h3 {
    color: #f4c4bc;
}

.datos p{
    margin: 10px;
    font-size: small;
}

/* UBICACION */
.ubicacion {
    grid-area: ubicacion;
    text-align: center;
    background-color: #ebdad79f;
    margin-top: 30px;
    margin-bottom: 60px;
    height: 150px;
}

.ubicacion img {
    margin-top: 20px;
    width: 100px;

}

.ubicacion h2 {
    color: #f4c4bc;
}


/* FOTO UBICACION */
.fotoUbicacion {
    grid-area: fotoubi;
}

.fotoUbicacion img {
    margin: 30px;
    width: 500px;
}

/* ENVIOS */
.envios {
    text-align: center;
    grid-area: envios;
}

.envios h3 {
    color: #f4c4bc;
}

.envios p{
    margin: 10px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: small;
}

/* GRID CONTACTO */
.gridContacto {
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-areas: 
    "header header"
    "contacto contacto"
    "formulario horarios"
    "ubicacion ubicacion"
    "envios fotoubi "
    "footer footer"
    ;
}

/* VISTA TABLET SOBRE MI*/
@media (min-width:700px) and (max-width:1100px) {
    .gridContacto {
        grid-template-areas: 
        "header"
        "contacto"
        "horarios"
        "formulario"
        "ubicacion"
        "envios"
        "fotoubi "
        "footer"
        ;
    }
}

/*VISTA MOBILE SOBRE MI*/
@media (max-width:699px){
    .gridContacto {
        grid-template-areas: 
        "header"
        "contacto"
        "horarios"
        "formulario"
        "ubicacion"
        "envios"
        "fotoubi"
        "footer"
        ;
    }

    .horarios {
        margin-top: 20px;
    }
}

/* -----------------------------------------------*/
/* SECCION PREGUNTAS FRECUENTES*/
.preguntasFrecuentes {
    grid-area: preguntasfrecuentes;
    text-align: center;
    background-color: #ebdad79f;
    height: 200px;
}

.preguntasFrecuentes img {
    margin-top: 20px;
    width: 100px;

}

.preguntasFrecuentes h2 {
    animation-name: texto;
    animation-duration: 2s;
    color: #f4c4bc;
    margin: 10px;
    font-size: xx-large
}

.preguntas {
    padding-left: 30px;
    padding-right: 30px;
    margin: 20px;
    border: solid 2px #f4c4bc;
    border-radius: 4px;
}

.preguntas h3 {
    color: #f4c4bc;
    text-align: center;
    margin: 10px;
    font-size: x-large;
    text-transform: uppercase;
}

.preguntas h4 {
    color: #f4c7cb;
}

.preguntas p{
    margin-bottom: 10px;
}

.preguntasProductos {
    grid-area: preguntasproductos;
}

.preguntasEnvios {
    grid-area: preguntasenvios;
}

.preguntasPagos {
    grid-area: preguntaspagos;
}

/* GRID PREGUNTAS FRECUENTES */
.gridFaq {
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-areas: 
    "header header"
    "preguntasfrecuentes preguntasfrecuentes"
    "preguntaspagos preguntasenvios"
    "preguntasproductos preguntasproductos"
    "footer footer"
    ;
}

/* VISTA TABLET PREGUNTAS FRECUENTES*/
@media (min-width:700px) and (max-width:1100px) {
    .gridFaq {
        grid-template-areas: 
        "header"
        "preguntasfrecuentes"
        "preguntaspagos"
        "preguntasenvios"
        "preguntasproductos"
        "footer"
        ;
    }
}

/*VISTA MOBILE PREGUNTAS FRECUENTES*/
@media (max-width:699px) {
        .gridFaq {
        grid-template-areas: 
        "header"
        "preguntasfrecuentes"
        "preguntaspagos"
        "preguntasenvios"
        "preguntasproductos"
        "footer"
        ;
    }
}