.estilosP, .infoPasteleria p, .textoSobreMi p, .horarios p, .envios p {
  padding-left: 100px;
  padding-right: 100px;
  color: black; }

* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Homemade Apple', cursive; }

/*SECCION HOME*/
header {
  background-color: #f4c4bc; }
  header nav {
    text-transform: uppercase; }
  header .nav-link {
    color: white; }
  header .nav-link:hover {
    color: #e4b4a6; }
  header li a {
    margin-left: 30px; }

.informacion {
  background-color: #e4b4a6; }

p {
  color: white;
  text-align: center;
  padding: 5px; }

.encabezado {
  background-color: white; }
  .encabezado img {
    width: 100%; }
  .encabezado button {
    text-align: center;
    margin: 30px;
    background-color: #eee;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    width: 10em;
    border-radius: 1rem;
    color: #e4b4a6;
    box-shadow: 0 0.4rem #dfd9d9;
    cursor: pointer; }
  .encabezado button:active {
    color: white;
    box-shadow: 1px #dfd9d9; }
  .encabezado button:hover {
    background: #f4c4bc;
    color: white; }

.infoPasteleria {
  text-align: center;
  background-color: #ebdad79f;
  margin-bottom: 30px; }
  .infoPasteleria p {
    margin-top: 30px;
    padding-bottom: 30px; }
  .infoPasteleria h1 {
    color: #f4c4bc;
    font-size: 30px;
    animation-name: texto;
    animation-duration: 5s; }

@keyframes texto {
  0% {
    opacity: 0; }
  100% {
    opacity: 100%; } }
  .infoPasteleria img {
    margin-top: 30px;
    width: 10%; }

.imagenesOpciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 60px; }
  .imagenesOpciones img {
    width: 300px;
    transition: height 0.5s, width 0.5s; }
  .imagenesOpciones img:hover {
    width: 350px; }

.botonWhatsApp img {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px; }

footer {
  background-color: #f4c4bc;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  align-items: center; }
  footer ul li {
    top: 7px;
    display: inline;
    color: white;
    word-spacing: 5px;
    margin-left: 30px; }
  footer img {
    width: 100px;
    height: 100px;
    margin: 20px; }

/*SECCION PASTELERIA*/
.pasteleria {
  background-color: #ebdad79f;
  text-align: center; }
  .pasteleria img {
    margin-top: 10px;
    width: 150px; }
  .pasteleria h1 {
    color: #f4c4bc;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    animation-name: texto;
    animation-duration: 2s; }
  .pasteleria p {
    padding-bottom: 20px; }

.tiendaCards .card {
  margin: 40px;
  border-color: white; }

.tiendaCards p {
  font-weight: bold;
  color: #f4c4bc; }

.tiendaCards .btn {
  background-color: #f4c4bc;
  border-color: #e4b4a6; }

/*SECCION SOBRE MI*/
.sobreMi {
  text-align: center;
  background-color: #ebdad79f; }
  .sobreMi img {
    margin-top: 20px;
    width: 100px; }
  .sobreMi h2 {
    animation-name: texto;
    animation-duration: 2s;
    color: #f4c4bc;
    font-size: 30px;
    margin: 10px;
    padding-bottom: 30px; }

.textoSobreMi h2 {
  font-size: 50px;
  text-transform: uppercase;
  margin: 20px;
  color: #f4c7cb;
  text-align: center; }

.textoSobreMi p {
  margin-bottom: 30px; }

.fotosNagisa img {
  width: 250px;
  transition: height 0.5s, width 0.5s;
  margin: 30px; }

.fotosNagisa img:hover {
  width: 300px; }

.misTrabajos {
  text-align: center;
  background-color: #ebdad79f;
  margin-bottom: 30px; }
  .misTrabajos h2 {
    color: #f4c4bc;
    font-size: 30px;
    animation-name: texto;
    animation-duration: 5s; }
  .misTrabajos img {
    width: 10%;
    margin: 10px; }

.imgCarousel {
  width: 100px;
  height: 400px;
  object-fit: cover; }

/*SECCION CONTACTO*/
.contacto {
  background-color: #ebdad79f;
  text-align: center; }
  .contacto img {
    width: 70px;
    margin-top: 10px; }
  .contacto h1 {
    color: #f4c4bc;
    font-size: 30px;
    margin-bottom: 10px;
    animation-name: texto;
    animation-duration: 2s; }
  .contacto p {
    padding-bottom: 30px; }

.formulario {
  text-align: center;
  background-image: url(../imagen/fondo.png); }
  .formulario input {
    margin-bottom: 30px; }
  .formulario label {
    margin-top: 10px;
    margin-bottom: 5px;
    color: black; }

.horarios {
  text-align: center;
  justify-self: center; }
  .horarios h2 {
    color: #f4c4bc; }
  .horarios p {
    margin: 10px;
    font-size: small; }

.ubicacion {
  text-align: center;
  background-color: #ebdad79f; }
  .ubicacion img {
    margin-top: 20px;
    width: 100px; }
  .ubicacion h2 {
    color: #f4c4bc; }

.envios {
  text-align: center; }
  .envios h2 {
    color: #f4c4bc; }
  .envios p {
    margin: 10px; }
